<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle">
        <button type="button" class="navbar-toggler" (click)="sidebarToggle()">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <a class="navbar-brand">{{getTitle()}}</a>
    </div>

    <div class="btn-group" dropdown>

      <a *ngIf="!logedIn" id="basic-link" class="nav-item nav-link btn-rotate" aria-controls="basic-link-dropdown" (click)="doLogin()">Login</a>

      <a *ngIf="logedIn" id="basic-link" dropdownToggle class="nav-link btn-rotate"  (click)="false">
        <i class="icon fas fa-user-circle"></i><span class="caret"></span>
        <p>
          <span class="d-lg-none d-md-block">Account</span>
        </p>
      </a>


      <ul id="basic-link-dropdown" *dropdownMenu aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu dropdown-menu-right shadow bg-white rounded" role="menu" aria-labelledby="basic-link">
        <li>
          <a class="dropdown-item" routerLink="/profile">Profile</a>
        </li>
        <li class="divider dropdown-divider"></li>
        <li>
          <a class="dropdown-item" (click)="doLogout()">Logout</a>
        </li>
      </ul>

    </div>
  </div>
