<div class="sidebar-wrapper">
  <div class="logo">
    <a href="http://www.labs23.com" class="simple-text logo-normal">
      <div>
        <img src="assets/img/labs23.png">
      </div>
    </a>
  </div>
  <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a class="mx-auto" [routerLink]="[menuItem.path]">
        <i class="pt-1 nc-icon icon {{menuItem.icon}}"></i>
        <span class="mx-3 mb-2">{{menuItem.title}}</span>
      </a>
    </li>
  </ul>
</div>
